<!-- your html code here -->
<p>Hello, I'm the portfolio.html</p>
<!---Content---->
<div class="container">
    <!----Portfolio-Header----->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="Header">Portfolio</h1>
            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quo neque dolor animi atque, earum perferendis natus corrupti sint nam placeat a recusandae deserunt laudantium, sunt consequuntur aperiam doloribus explicabo.</span>
        </div>
    </div>
    <!----Portfolio Content----->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive" src="">
        </div>
    </div>
</div>